body {
  background-color: #282a36;
  margin: 0;
  font-family: 'Vazir', 'tahoma' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  color: #F8F8F2;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  color: #F8F8F4 !important;
  background-color: #44475a !important;
  border-color: #bd93f9 !important;
}

.form-control {
  background-color: #44475a !important;
  color: #F8F8F4 !important;
  border-color: #bd93f9 !important;
}